.Fundo {
  background-color: #bd6eff!important;
  padding: 470px 40px;
  overflow: auto;
}

.NavBar {
  flexGrow: 1;
  background-color: #63347f !important;
  color: #63347f;
  width: 100%;
}
.text {
  padding-top: 20%;
}

.style_root {
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
  overflow-x: auto;
}
.style_table {
  min-width: 700;
}
.style_button {
  margin-top: 10%;
}